* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-size: 14px;
    color: #333;
    font-family:"Microsoft YaHei","5fae8f6f96c59ed1";
    height:100%;
}
/* 以上内容不用复制 */


.clearfix {
    *zoom: 1;
}

    .clearfix:before,
    .clearfix:after {
        display: table;
        line-height: 0;
        content: "";
    }

.sky-left-nav {
    width: 208px;
    float: left;
    z-index: 1;
    position:absolute;
    top:30px;
}

    .sky-left-nav > .sky-left-logo {
        width: 208px;
        background: #fff;
        padding: 25px 0;
    }

        .sky-left-nav > .sky-left-logo > img {
            width: 208px;
            display:block;
        }

    .sky-left-nav > .sky-left-box {
        width: 175px;
        background: #676566;
        padding: 0 16px;
        overflow: hidden;
        height:auto;
    }

        .sky-left-nav > .sky-left-box > .sky-left-ul {
            color: #fff;
            border-bottom: 1px solid #b8b8b8;
        }

            .sky-left-nav > .sky-left-box > .sky-left-ul > li {
                text-align: center;
                margin: 14px 0;
            }

                .sky-left-nav > .sky-left-box > .sky-left-ul > li > span {
                    cursor: pointer;
                }

                .active-text {
                    color: #ec7f16;
                }

.sky-left-ul > li > span > a {
    text-decoration: none;
    color: #fff;
}

    .sky-left-ul > li > span > a:hover {
        color: #ec7f16;
    }


.sky-left-nav > .sky-left-box > .sky-nav-index {
    font-size: 16px;
}

    .sky-left-nav > .sky-left-box > .sky-nav-index > .sky-nav-tit {
        color: #ec7f16;
        display: block;
        margin-top:17px;
        margin-bottom:10px;
    }

    .sky-left-nav > .sky-left-box > .sky-nav-index > .sky-nav-ul {
        overflow: hidden;
        margin-bottom:14px;
    }

        .sky-left-nav > .sky-left-box > .sky-nav-index > .sky-nav-ul > li {
            float: left;
            line-height: 38px;
        }

            .sky-left-nav > .sky-left-box > .sky-nav-index > .sky-nav-ul > li > a {
                text-decoration: none;
                color: #fff;
            }

            .sky-left-nav > .sky-left-box > .sky-nav-index > .sky-nav-ul > li:nth-child(2),
            .sky-left-nav > .sky-left-box > .sky-nav-index > .sky-nav-ul > li:nth-child(5),
            .sky-left-nav > .sky-left-box > .sky-nav-index > .sky-nav-ul > li:nth-child(8),
            .sky-left-nav > .sky-left-box > .sky-nav-index > .sky-nav-ul > li:nth-child(11) {
                margin: 0 30px;
            }

            .sky-left-nav > .sky-left-box > .sky-nav-index > .sky-nav-ul > li:hover > a {
                color: #ec7f16;
            }

.text-col {
    color: #dbd9d9;
}

.sky-left-nav > .sky-left-box > .sky-phone {
    overflow: hidden;
    border-bottom: 1px solid #b8b8b8;
    border-top: 1px solid #b8b8b8;
    padding: 18px 0;
    margin:11px 0;
}

    .sky-left-nav > .sky-left-box > .sky-phone > .sky-phone-left {
        width: 107px;
        overflow: hidden;
        float: left;
    }

    .sky-left-nav > .sky-left-box > .sky-phone > .sky-phone-right {
        float: right;
    }

        .sky-left-nav > .sky-left-box > .sky-phone > .sky-phone-right > img {
            width: 60px;
        }

.sky-left-nav > .sky-left-box > .sky-video {
    width: 175px;
    height: 140px;
    background: #ffffff;
    margin-top: 25px;
}

    .sky-left-nav > .sky-left-box > .sky-video > .sky-video-tit {
        color: #f07f14;
        font-size: 16px;
        height: 30px;
        line-height: 30px;
        padding-left: 5px;
    }
    .sky-left-nav > .sky-left-box > .sky-video > .sky-video-content {
        height: 105px;
        width: 165px;
        padding-left: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
    }

    .sky-left-nav > .sky-left-box > .sky-video > .sky-video-box {
        width: 100%;
        height: 108px;
    }
.sky-left-nav > .sky-left-box > .sky-nav-banner {
    width: 175px;
    height: 160px;
    margin: 19px 0;
}
    .sky-left-nav > .sky-left-box > .sky-nav-banner img {
        width: 175px;
        height: 160px;
        border: 1px solid #898989;
    }






/* 兼容1366px 的屏幕分辨率 

@media all and (max-width: 1366px) {
    .sky-left-nav > .sky-left-logo {
        padding-top: 1px;
        height: 56.5px;
    }

    .sky-left-nav > .sky-left-box > .sky-left-ul > li {
        padding: 3px 0;
    }

    .sky-left-nav > .sky-left-box > .sky-nav-index {
        margin-top: 5px;
    }

        .sky-left-nav > .sky-left-box > .sky-nav-index > .sky-nav-ul > li {
            line-height: 27px;
        }

    .sky-left-nav > .sky-left-box > .sky-phone {
        padding: 5px 0;
        margin: 3px 0;
    }

    .sky-left-nav > .sky-left-box > .sky-video {
        margin-top: 8px;
    }

    .sky-left-nav > .sky-left-box > .sky-nav-banner {
        margin: 6px 0;
    }
}
@media all and (max-width: 1680px){
  .sky-left-nav > .sky-left-logo{
        padding-top: 1px;
        height: 56.5px;
  }
.sky-left-nav > .sky-left-box > .sky-left-ul > li{
    padding: 3px 0;
}
.sky-left-nav > .sky-left-box > .sky-nav-index{
    margin-top: 5px;
}
.sky-left-nav > .sky-left-box > .sky-nav-index > .sky-nav-ul > li{
    line-height: 27px;
}
.sky-left-nav > .sky-left-box > .sky-phone{
    padding: 5px 0;
    margin: 3px 0;
}
.sky-left-nav > .sky-left-box > .sky-video{
    margin-top: 8px;
}

.sky-left-nav > .sky-left-box > .sky-nav-banner{
    margin: 6px 0;
}


}

@media all and (min-width:1367px) {

}*/

.wrapper {
    margin: 0 auto;
    height: auto;
    padding-top: 0px;
    width: 1180px;
}

.maincontent {
    margin-left: 20px;
    float: right;
    width: 950px;
}
/* css注释：为了观察效果设置宽度 边框 高度等样式 */

/* Flash Slider Show CSS */
#flash {
    width: 380px;
    height: 228px;
    margin-bottom: 9px;
    border-bottom: solid 1px #AAA;
    padding-bottom: 9px;
}

    #flash a {
        font-family: "Microsoft YaHei","5fae8f6f96c59ed1";
    }

#ad_text_zone li {
    width: 185px;
    padding: 0px 5px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    float: left;
    display: inline;
    margin: 0px;
    overflow: hidden;
}

#s_pic_news {
    width: 378px;
    height: 88px;
    border: solid 1px #AAA;
    margin: 6px 0 0 0;
}

    #s_pic_news:hover {
        border: solid 1px #F60;
        cursor: pointer;
    }

    #s_pic_news img {
        width: 130px;
        height: 78px;
        margin: 5px;
        float: left;
    }

    #s_pic_news dt {
        width: 238px;
        font-size: 14px;
        height: 18px;
        line-height: 18px;
        overflow: hidden;
        float: left;
        display: inline;
        margin-top: 5px;
        font-weight: bold;
    }

    #s_pic_news dd {
        width: 238px;
        font-size: 12px;
        height: 56px;
        line-height: 18px;
        overflow: hidden;
        float: left;
        display: inline;
        margin-top: 6px;
        color: #666;
    }

.bannerlist {
    height: 138px;
}

    .bannerlist dl {
        width: 140px;
        float: left;
    }

    .bannerlist dt {
        font-size: 12px;
        float: left;
        margin-left: 0px;
        width: 135px;
        height: 90px;
        margin-bottom:10px;
    }

        .bannerlist dt a {
            text-decoration: none;
            color: black;
        }

            .bannerlist dt a:hover {
                color: #ec7f16;
            }

        .bannerlist dt iframe {
            width: 133px;
            height: 90px;
        }

    .bannerlist dd a {
        text-decoration: none;
        color: black;
    }

        .bannerlist dd a:hover {
            color: #ec7f16;
        }

.topbanner {
    width: 950px;
    height: 55px;
    overflow:hidden;
    margin:8px 0;
}

.topbannermiddle {
    width: 950px;
    height: 40px;
    overflow: hidden;
    margin-top:8px;
}

.rightdivchid1 {
    width: 625px;
    float: left;
    height: auto;
    padding-top:8px;
}

.rightdivchid2 {
    width: 300px;
    float: right;
    padding-top: 8px;
    height: auto;
}

.bannerlistdl2 {
    margin-left: 19px;
}



.list-group-item {
    background: url(/image/newstag4_07.png) 2px 7px no-repeat;
    padding-left: 20px;
    letter-spacing: 1px;
}

    .list-group-item a {
        text-decoration: none;
        color: black;
    }

        .list-group-item a:hover {
            color: #ec7f16;
        }

.hotnewfirst {
    background: url(/image/newstag1_07.png) 2px 4px no-repeat;
    padding-left: 20px;
}

.hotnewsecend {
    background: url(/image/newstag2_07.png) 2px 4px no-repeat;
    padding-left: 20px;
}

.list-group-item-noimage {
    padding-left: 20px;
    letter-spacing: 1px;
}

.list-news-item {
    border-bottom: 1px solid #ccc;
    height: 104px;
    text-align: left;
    margin: 0 auto;
}
    .list-news-item dl {
        width: 465px;
        float: right;
        height: 77px;
        margin-left:15px;
        margin-top:13px;
        overflow:hidden;
    }
    .list-news-item dt{
        margin-bottom:14px;
    }
    .list-news-item dt a {
        font-size: 18px;
        text-decoration: none;
        color: black;
    }
    .list-news-item dl dd {
        font-size: 12px;
        height: 20px;
        color: #7b7979;
    }
    .list-news-item dl dd span.list-news-item-category {
            color: #d11e26;
            font-weight:bold;
        }
        .list-news-item dl dd span.list-news-item-word {
            margin-left: 20px;
        }


    .list-news-item > .list-news-item-l {
        width: 140px;
        height: 75px;
        float: left;
    }

    .list-news-item > a img {
        border: 1px solid #898989;
        display: inline-block;
        float: left;
        margin-top: 13px;
    }


    .list-news-item > .list-news-item-r {
        float: left;
        width:450px;
        overflow:hidden;
    }

        .list-news-item > .list-news-item-r > .list-news-item-r-bottom {
            font-size: 12px;
            margin-top:30px;
        }

    .list-news-item > .list-news-item-l img {
        width: 140px;
        height: 90px;
        border: 1px solid #898989;
    }

    .list-news-item > .list-news-item-r > .list-news-item-r-title a {
        font-size: 18px;
        text-decoration: none;
        color: black;
    }





.news-list-mindle ul {
    width: 100%;
    margin-top: 15px;
    font-size: 14px;
}

.news-list-mindle li {
    float: left;
    display: block;
    padding-top: 5px;
    letter-spacing: 1px;
}

.span1 {
    font-size: 18px;
    border-top: 2px solid #ccc;
    margin-top: 10px;
    width: 105px;
}

.span2 {
    font-size: 18px;
    margin-top: 10px;
    width: 105px;
    padding-left: 20px;
}


.caijin-title-span {
    font-size: 18px;
    letter-spacing: 2px;
    height: 30px;
    border-bottom: 1px solid #b7b7b7;
}

.caijin-title-spanexpend {
    font-size: 18px;
    letter-spacing: 2px;
    height: 30px;
    border-bottom: 1px solid #b7b7b7;
}
/* 以上内容是左侧导航栏样式 */




/* 以下内容是主页部分内容 */


.caijin-span-tit {
    display: inline-block;
    text-decoration: none;
    color: #6b6b6b;
    font-size: 18px;
    padding: 3px 10px;
    cursor:pointer
}

.active-tit-a {
    position: relative;
}

.active-tit-a:before {
        content: "";
        display: block;
        width: 100px;
        height: 2px;
        background: #035b99;
        position: absolute;
        top: 0px;
        left: 0;
    }

.active-tit-ashenghuo:before {
    width: 60px;
    background: #ef537a;
}

.active-tit-single {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    padding: 3px 10px;
    cursor:pointer;
}

.active-tit-azhuanti:before {
    background: #f5842b;
}
.active-tit-azhuanlan:before {
    width: 60px;
    background: #653780;
}
.active-tit-ayimin:before {
    width: 100px;
    background: #448e4f;
}
.activity-right {
    float: left;
    margin-left: 20px;
    width: 300px;
    padding: 9px 0;
}

.activity-right-tit {
    margin-top: 10px;
    text-align: left;
}

.tab-left-double {
    overflow: hidden;
    width: 630px;
    float: left;
}

.lvyou-list-ul {
    float: left;
    text-align: center;
    padding:7px 0;
}
    .lvyou-list-ul img {
        width: 140px;
        height: 80px;
    }

.lvyou-list-ul-line {
    border-bottom: 1px dashed #b7b7b7;
    margin-top: 8px;
    margin-bottom: 8px;
}
.shishang-list-dl {
    color: #ef537a;
    text-align: left;
    margin:7px 0px;
}
    .shishang-list-dl a {
        width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.sky-more-style {
    width: 80px;
    float: right;
    text-align: right;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.caijin-span li {
    list-style: none;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
}
.caijin-span a {
    color:black;
    text-decoration:none;
}
.caijin-span a:hover {
  color:#f5842b;
}

/* NEWS Channel Exchange Links */

.links {
    margin: 15px 0px;
    width: 948px;
    border: 1px solid #AAA;
    padding: 0px 0px 8px 0px;
    overflow: hidden;
}

    .links h3 {
        font: bold 12px/14px '&Icirc;&cent;&Egrave;í&Ntilde;&Aring;&ordm;&Uacute;', &Euml;&Icirc;&Igrave;&aring;, Hei;
        padding: 8px 0 1px 12px;
        color: #D12026;
        display: block;
    }

    .links a {
        float: left;
        display: inline;
        width: 96px;
        margin: 8px 2px 0px 3px;
        border: 2px solid #FFF;
        overflow: hidden;
        text-align: center;
        cursor: pointer;
    }

        .links a:hover {
            border-color: #CCC;
        }

    .links img {
        max-width: 96px;
        max-height: 30px;
        border: 0px;
    }



/* footer CSS */

#footer {
    line-height: 22px;
    text-align: center;
    background: #FFF;
    width: 950px;
    text-decoration: none;
    margin:50px 0px;
}

    #footer > p > a {
        text-decoration: none;
        color: #6b6b6b;
    }

        #footer > p > a:hover {
            color: #ec7f16;
        }

    #footer .ico {
        background: url(http://www.skykiwi.com/images/common/n.gif) no-repeat 0 -340px;
        padding-left: 15px;
    }

.copyright {
    font-family: "Microsoft YaHei","5fae8f6f96c59ed1";
}

#part3 {
    height: 65px;
    margin: 15px 0px;
    background: #DDD;
    overflow: hidden;
}

#jumpMenu {
    height: 20px;
    margin: 0px 0px 0px 15px;
    font-size: 12px;
    width: 180px;
    vertical-align: bottom;
}

.mg15 {
    margin-top: 22px;
    margin-left: 32px;
    vertical-align: bottom; /*地步对其*/
}

/* 底部广告导航 */
.foot-banner-nav {
    float: left;
    width: 300px;
    height: 60px;
    overflow: hidden;
    margin-left: 20px;
}

    .foot-banner-nav ul {
        overflow: hidden;
        display: block;
    }

    .foot-banner-nav > ul {
        border-left: 1px dashed #959595;
        padding-left: 10px;
    }

        .foot-banner-nav > ul > li {
            float: left;
            margin: 0 14px 17px;
        }

            .foot-banner-nav > ul > li > a {
                text-decoration: none;
                font-size: 16px;
                color: #444545;
            }

.foot-banner-nav-s {
    float: left;
    width: 110px;
    height: 60px;
    overflow: hidden;
}

    .foot-banner-nav-s > ul {
        border-left: 1px dashed #959595;
        padding-left: 13px;
    }

        .foot-banner-nav-s > ul > li {
            /*margin: left;*/
            margin: 0 14px 15px;
        }

            .foot-banner-nav-s > ul > li > a {
                text-decoration: none;
                font-size: 16px;
                color: #f5842b;
            }

.news-general-list {
    width: 300px;
    height: auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-left: 0px;
    margin:10px 0px;
}
.news-general-list-ul {
    width:300px;
    height:180px;
}
    .news-general-list-ul li {
        float: left;
        width: 145px;
        height: 23px;
        line-height: 23px;
        overflow:hidden;
    }
        .news-general-list-ul li:nth-child(2), .news-general-list-ul li:nth-child(4),
        .news-general-list-ul li:nth-child(6), .news-general-list-ul li:nth-child(8),
        .news-general-list-ul li:nth-child(10), .news-general-list-ul li:nth-child(12),
        .news-general-list-ul li:nth-child(14), .news-general-list-ul li:nth-child(16) {
            float: right;
        }
.news-general-list ul {
    margin: 3px 0px;
}
        .news-general-list ul li {
            height: 23px;
            line-height: 23px;
        }
            .news-general-list ul li a {
                text-decoration: none;
            }


.list-group-item-line {
    border-bottom: 1px dashed #b7b7b7;
    margin-top: 4px;
    margin-bottom: 4px;
    height: 1px !important;
}

.sky-jinyuanjinrong {
    margin: 10px 0px;
    border: 1px solid #898989;
    height: 196px;
}

    .sky-jinyuanjinrong iframe {
        height: 196px;
    }

.sky-video-right {
    height: 30px;
    background-color: black;
    line-height: 28px;
}

.sky-video-right-title {
    width: 100px;
    padding-left: 10px;
    color: #ec7f16;
    font-weight: bold;
}

.sky-video-right-small-title {
    height: 35px;
    font-size: 13px;
    vertical-align: middle;
    line-height: 35px;
    font-weight: bold;
    color: #ec7f16;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}

    .sky-video-right-small-title a {
        color: #ec7f16;
        text-decoration: none;
    }

.hot-search-title {
    height: 28px;
    line-height: 28px;
    border-top: 2px solid #ec7f16;
    border-bottom: 1px solid #ccc;
    margin-top: 12px;
}

    .hot-search-title span {
        font-size: 18px;
        padding-left: 10px;
    }

.hot-search-title-label1 {
    color: gray;
}

.hot-search-title-label2 {
    color: #ec7f16;
}
/* 表格样式 */
.banner-table {
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    margin-top:9px;
}

    .banner-table > ul {
        width: 300px;
    }

        .banner-table > ul > li {
            height: 78px;
            margin: 18px 0;
        }

            .banner-table > ul > li > img {
                width: 125px;
                height: 75px;
                overflow: hidden;
                float: left;
                vertical-align: top;
                border: 1px solid #999;
            }

            .banner-table > ul > li > .banner-table-right {
                width: 149px;
                height: 78px;
                float: right;
                margin-left: 17px;
                vertical-align: top;
            }

                .banner-table > ul > li > .banner-table-right > .banner-table-right-tit {
                    color: #080808;
                    font-size: 15px;
                    display: block;
                    line-height: 1.25;
                }

                .banner-table > ul > li > .banner-table-right > .banner-table-right-text {
                    color: #7b7979;
                    font-size: 12px;
                    display: block;
                    line-height: 1.5;
                    margin-top: 10px;
                }

.banner-table-right-tit a {
    text-decoration: none;
    color: #000000;
}

    .banner-table-right-tit a:hover {
        color: #ec7f16;
    }

.tab-left-double-div1 {
    float: left;
    width: 300px;
    overflow: hidden;
    margin: 10px 0;
}

.tab-left-double-div2 {
    float: right;
    width: 300px;
    overflow: hidden;
    margin: 10px 0;
    margin-left: 20px;
}

.caijin-span-tejia {
    overflow: hidden;
    padding:13px 0;
}

    .caijin-span-tejia li {
        float: left;
        height: 155px;
    }

    .caijin-span-tejia > li:nth-child(3),
    .caijin-span-tejia > li:nth-child(5)
    {
        margin-left: 20px;
    }

    .caijin-span-tejia > li:nth-child(4),
    .caijin-span-tejia > li:nth-child(5) {
        margin-top:20px;
    }

.caijin-title-span > a {
    text-decoration: none;
    color: #fff;
}

    .caijin-title-span > a:hover {
        color: #ec7f16;
    }

.sky-news {
    height: 25px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
    border-left: 2px solid #ec7f16;
    border-bottom: 1px solid #ccc;
}

    .sky-news span {
        font-size: 18px;
    }

.sky-news-a {
    color: black;
    padding-left: 10px;
}

.sky-news-color {
    color: #ec7f16;
}

.sky-hot-news {
    margin-top: 10px;
    width: 625px;
    height: 25px;
    color: white;
    line-height: 25px;
    background: url(/image/hotnews_bg.png);
}

.sky-hot-news-title {
    margin-left: 15px;
}

.sky-hot-news-context {
    float: right;
    text-align: center;
    width: 80%;
    height: 32px;
}

    .sky-hot-news-context dl {
        float: left;
        margin-left: 50px;
        height: 30px;
        overflow: hidden;
    }

    .sky-hot-news-context span {
        display: block;
        width: 20px;
        height: 29px;
        float: right;
    }

    .sky-hot-news-context a {
        color: white;
        text-decoration: none;
    }

        .sky-hot-news-context a:hover {
            color: #ec7f16;
        }

.sky-hot-news-context-pre {
    height: 9px;
    width: 14px;
    display: block;
    cursor: pointer;
    margin-top: -8px;
}

.sky-hot-news-context-next {
    height: 9px;
    width: 14px;
    display: block;
    cursor: pointer;
    margin-top: 4px;
}

.border {
    border: 1px solid #898989;
}

.sky-font18 {
    font-size: 18px;
}

.sky-margintop10 {
    margin-top: 10px;
}

.sky-hotnews-addpre {
    height: 9px;
    width: 14px;
    display: block;
    cursor: pointer;
}

.sky-liuxueyimin {
    float: left;
    width: 145px;
    margin-left: 10px;
}

    .sky-liuxueyimin dl dd {
        margin-bottom: 10px;
        height:20px;
        line-height:20px;
        overflow:hidden;
    }

        .sky-liuxueyimin dl dd a {
            color: #448e4f;
            font-weight: bold;
            text-decoration: none;
        }

.sky-liuxueyimin-list {
    margin-top: 10px;
    display: list-item;
}

.sky-floatL {
    float: left;
}

    .sky-floatL > ul > li > a {
        float: left;
    }

.sky-floatR {
    float: right;
    width: 185px;
}

.sky-tejia-span2 {
    width: 40px;
    float: right;
    height: 30px;
}

.sky-tejia-updown {
    height: 9px;
    width: 14px;
    display: block;
    cursor: pointer;
    color: #ef537a;
    display: inline-block;
}

.sky-shishang {
    float: left;
    display: block;
}

.sky-shishang-img1 {
    width: 300px;
    height: 190px;
}
.lvyou-list-ul dd {
    margin-top:10px;
}
.sky-zhuanti-title {
    font-size: 16px;
    color: #293e73;
    font-weight: bold;
}

.sky-zhuanti-content {
    font-size: 12px;
    margin-top: 10px;
}

.sky-zhuanti-list {
    margin-top: 10px;
    display: list-item;
}

.sky-ul-list1 {
    background: url(/image/newstag4_07.png) 2px 7px no-repeat;
    padding-left: 20px;
    letter-spacing: 1px;
}

.sky-zhuanlan-author {
    margin-bottom: 10px;
}

.sky-zhuanlan-title {
    color: #653780;
    margin-bottom: 10px;
    height:38px;
    overflow:hidden;
}

.sky-zhuanlan-content {
    font-size: 12px;
    height:54px;
    overflow:hidden;
}

.sky-activity-title {
    font-size: 18px;
    /*letter-spacing: 1px;*/
    height: 30px;
    border-bottom: 1px solid #b7b7b7;
    border-top: 2px solid #ec7f16;
    padding-left: 10px;
    color: #f5842b;
}

.sky-activity-info {
    margin-top: 10px;
    height: 120px;
    width:300px;
    height:110px;
}

.tianwei-right-tab {
    border-top: 2px solid #ec7f16;
    background-color: #ebebeb;
    width: 300px;
    position: relative;
}
    .tianwei-right-tab .tianwei-right-title {
        margin-left: 10px;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
    }
    .tianwei-right-tab .tuangou-list-select {
        font-size: 2.83em;
        font-weight: bold;
        position: absolute;
        top: 200px;
        cursor:pointer;
    }

.tianwei-tuangou-item {
    height: 398px;
    padding: 8px 8px;
    border-top: 1px solid #b7b7b7;
}
.tianwei-tuangou-item ol li {
     line-height:30px;
     overflow:hidden;
     height:30px;
}
.tianwei-VIP-item {
    height: 398px;
    padding: 8px 8px;
    border-top: 1px solid #b7b7b7;
}
.sky-vip {
    width: 40px;
    float: right;
    height: 30px;
    line-height: 30px;
}

    .sky-vip a {
        height: 9px;
        width: 14px;
        cursor: pointer;
        display: inline-block;
        color: #ec7f16;
    }



.sky-info {
    height: 80px;
    display: block;
    padding-top: 24px;
    border-top: 5px solid #ec7f16;
}

.sky-banner {
    margin: 22px 0;
    width: 300px;
    height: 250px;
}

.sky-caijing {
    float: left;
    margin-top: 10px;
}

.sky-caijing-info {
    float: left;
    margin-left: 10px;
    width: 160px;
}

.sky-caijing-info-title {
    font-size: 16px;
    color: #256091;
    margin-bottom: 10px;
    height:40px;
    overflow:hidden;
}

#wechat_home {
    width: 90px;
    height: 90px;
    background: url(/image/tianweiwang.jpg);
    position: absolute;
    left: 58px;
    display: none;
    z-index: 9999;
    margin-top:-5px;
}

#wechat_go {
    width: 90px;
    height: 90px;
    background: url(/image/daogou.jpg);
    position: absolute;
    left: 45px;
    display: none;
    z-index: 9999;
    margin-top: -5px;
}
#wechat_soku {
    width: 90px;
    height: 90px;
    background: url(/image/shenghuo.jpg);
    position: absolute;
    display: none;
    z-index: 9999;
    margin-top: -5px;
}
#wechat_property {
    width: 90px;
    height: 90px;
    background: url(/image/weifangcan.jpg);
    position: absolute;
    display: none;
    z-index: 9999;
}

#wechat_money {
    width: 90px;
    height: 90px;
    background: url(/image/weicaijing.jpg);
    position: absolute;
    display: none;
    z-index: 9999;
}



.sky-ul-list1 a {
    text-decoration: none;
    color: black;
}

    .sky-ul-list1 a:hover {
        color: #ec7f16;
    }

.sky-zhuanti-title a {
    text-decoration: none;
    color: #293e73;
}

.sky-caijing-info-title a {
    text-decoration: none;
    color: #256091;
    font-weight: bold;
}

.list-group-generalitem a {
    text-decoration: none;
    color: black;
}

    .list-group-generalitem a:hover {
        color: #ec7f16;
    }

.sky-caijing-info-detail {
    height: 106px;
    overflow: hidden;
}

    .sky-caijing-info-detail a {
        color: black;
        text-decoration: none;
        line-height:1.6
    }

        .sky-caijing-info-detail a:hover {
            color: #ec7f16;
        }

.sky-video-right-top1 {
    width: 300px;
    height: 190px;
}

    .sky-video-right-top1 iframe {
        width: 300px;
        height: 190px;
    }

.sky-vip-list {
    line-height: 25px;
    overflow: hidden;
    height: 335px;
    width: 300px;
    float: left;
    display: inline;
    overflow: hidden;
}

    .sky-vip-list dd a {
        text-decoration: none;
        color: black;
    }

        .sky-vip-list dd a:hover {
            color: #ec7f16;
        }

.ky-share-icon {
}

    .ky-share-icon > .icon-nav {
        display: inline-block;
        width: 25px;
        height: 25px;
        border: 1px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s;
        justify-content: center;
        align-items: center;
    }

        .ky-share-icon > .icon-nav:hover {
            background: #ccc;
        }


            .ky-share-icon > .icon-nav:hover i {
                /*color: #676566;*/
                color: #ec7f16;
            }

        .ky-share-icon > .icon-nav i {
            color: #ccc;
            text-align: center;
            margin: 0 5px;
            line-height: 25px;
            transition: all 0.3s;
        }

.rightdivchid1-newsmore {
    border: 1px solid #ec7f16;
    height: 38px;
    text-align: center;
    line-height: 38px;
    letter-spacing: 1px;
    margin: 13px 0px;
    font-size: 15px;
}

    .rightdivchid1-newsmore a {
        color: #ec7f16;
        text-decoration: none;
    }
    .rightdivchid1-newsmore a:hover {
        text-decoration:none;
    }

.indexhomes-info {
    height: 100px;
    text-align: center;
    border-bottom: 1px solid #898989;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.indexhomes-info strong {
    font-weight: bold;
    color: #000;
    font-size: 14px;
    display: block;
}

    .indexhomes-info strong a {
        color: #265294;
        display: block;
        overflow: hidden;
        max-height:46px;
        line-height:23px;
        margin:5px 0px;
    }

    .indexhomes-info span {
        display: block;
        overflow: hidden;
        margin-top:5px;
    }

.indexhomes-roomcount {
    height: 35px;
    line-height: 35px;
    text-align: center;
}
    .indexhomes-roomcount span {
        color: #000;
        background:url(/image/icon.png) no-repeat 0 0;
    }
.icon-ws {
    background-position: 0 0;
    padding-left: 30px;
}

.icon-wy {
    background-position: 0 -23px;
    padding-left: 30px;
}
.indexhomes-imagecount {
    width: 100%;
    height: 30px;
    background-color: #e1e1e1;
    line-height: 30px;
    display: inline-block;
    margin:10px 0px;
}
.indexhomes-roomchange {
    height: 30px;
    background-color: #e1e1e1;
    line-height: 30px
}

.hsPhoto {
    display: block;
    height: 200px;
    overflow: hidden;
    position:relative;
}

.hsPhoto img {
        float: left;

    }
    .hsPhoto em.mask {
        display: block;
        width: 300px;
        height: 210px;
        position: absolute;
        top: 0;
        left: 0;
        background: #666;
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    .hsPhoto img.loading {
        position: absolute;
        top: 95px;
        left: 140px;
    }
.sky-weather {
    position: absolute;
    display: block;
    box-shadow: 0px 3px 16px 0px rgba(111, 165, 255, 0.4);
    z-index: 9999;
    right: 0;
    transition: top .3s,visibility .3s,opacity .3s;
    padding: 8px 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    color:#000;
    margin-top:25px;
}
    .sky-weather:before {
        content: '';
        display: block;
        background: #fff;
        width: 14px;
        height: 14px;
        border-radius: 2px;
        transform: rotate(45deg);
        position: absolute;
        top: -7px;
        left: 100px;
    }
#weatherCities li {
    cursor:pointer;
    text-align:left;
}
#weatherCities li:hover {
    color:#ec7f16;
}
#div-weather-change {
    cursor:pointer;
    height:24px;
    margin: 0 0;
    padding:0 0;
    width:175px;
}
#div-weather-change span {
    vertical-align:6px;
}
.clear-sky-day {
    width: 30px;
    height: 30px;
    float: left;
    background: url(/image/sky-weather.png) 0px 0px no-repeat;
    border: 0px;
}
.clear-sky-night {
    width: 33px;
    height: 30px;
    float: left;
    background: url(/image/sky-weather.png) 1px -30px no-repeat;
    border: 0px;
}
.few-clouds-day {
    width: 30px;
    height: 30px;
    float: left;
    background: url(/image/sky-weather.png) 0px -60px no-repeat;
    border: 0px;
}
.few-clouds-night {
    width: 32px;
    height: 30px;
    float: left;
    background: url(/image/sky-weather.png) 1px -90px no-repeat;
    border: 0px;
}
.scattered-clouds-day {
    width: 32px;
    height: 30px;
    float: left;
    background: url(/image/sky-weather.png) 1px -120px no-repeat;
    border: 0px;
}
.scattered-clouds-night {
    width: 32px;
    height: 30px;
    float: left;
    background: url(/image/sky-weather.png) 1px -120px no-repeat;
    border: 0px;
}
.broken-clouds-day {
    width: 32px;
    height: 30px;
    float: left;
    background: url(/image/sky-weather.png) 1px -180px no-repeat;
    border: 0px;
}
.broken-clouds-night {
    width: 32px;
    height: 30px;
    float: left;
    background: url(/image/sky-weather.png) 1px -180px no-repeat;
    border: 0px;
}
.shower-rain-day {
    width: 32px;
    height: 30px;
    float: left;
    background: url(/image/sky-weather.png) 1px -270px no-repeat;
    border: 0px;
}
.shower-rain-night {
    width: 32px;
    height: 30px;
    float: left;
    background: url(/image/sky-weather.png) 1px -270px no-repeat;
    border: 0px;
}
.rain-day {
    width: 32px;
    height: 30px;
    float: left;
    background: url(/image/sky-weather.png) 1px -330px no-repeat;
    border: 0px;
}
.rain-night {
    width: 32px;
    height: 30px;
    float: left;
    background: url(/image/sky-weather.png) 1px -300px no-repeat;
    border: 0px;
}
.rightdivchid1-bannerlist4 {
    margin: 0px 0px;
    padding: 0px 0px;
}
    .rightdivchid1-bannerlist4 ul {
        width:625px;
        height:86px;
    }
 .rightdivchid1-bannerlist4 ul li {
        width: 140px;
        float: left;
        margin-left: 13px;
        margin-top:14px;
    }
.rightdivchid1-bannerlist4 img {
    width: 138px;
    height: 84px;
    border: 1px solid #898989;
}
    .rightdivchid1-bannerlist4 span {
        position: absolute;
        width: 140px;
        height: 20px;
        background: rgba(0,0,0,0.3);
        line-height: 1.6;
        overflow: hidden;
        text-align: center;
        display:block;
        margin-top:-25px;
    }
    .rightdivchid1-bannerlist4 span a{
        color:white;
        text-decoration:none;
    }
        .rightdivchid1-bannerlist4 span a:hover {
            color: #ec7f16;
        }
.area-btn-imgCng {
    float: right;
    margin-right: 10px
}



.sky-left-nav-small {
    width: 208px;
    float: left;
    position: fixed;
    z-index: 1;
}

    .sky-left-nav-small > .sky-left-logo {
        width: 208px;
        height: 60px;
        background: #fff;
        padding-top: 10px;
    }

        .sky-left-nav-small > .sky-left-logo > img {
            width: 208px;
        }


    .sky-left-nav-small > .sky-left-box {
        width: 175px;
        background: #676566;
        padding: 0 10px;
        overflow: hidden;
    }

        .sky-left-nav-small > .sky-left-box > .sky-left-ul {
            color: #fff;
            border-bottom: 1px solid #b8b8b8;
            line-height: 5px;
            margin-top: 3px;
        }

            .sky-left-nav-small > .sky-left-box > .sky-left-ul > li {
                padding: 8px 0;
                text-align: center;
            }

                .sky-left-nav-small > .sky-left-box > .sky-left-ul > li > span {
                    cursor: pointer;
                }

.active-text {
    color: #ec7f16;
}

.sky-left-nav-small > .sky-left-box > .sky-nav-index {
    font-size: 16px;
}

    .sky-left-nav-small > .sky-left-box > .sky-nav-index > .sky-nav-tit {
        color: #ec7f16;
        display: block;
        margin-top: 4px;
    }

    .sky-left-nav-small > .sky-left-box > .sky-nav-index > .sky-nav-ul {
        overflow: hidden;
    }

        .sky-left-nav-small > .sky-left-box > .sky-nav-index > .sky-nav-ul > li {
            float: left;
            line-height: 1.8;
        }

            .sky-left-nav-small > .sky-left-box > .sky-nav-index > .sky-nav-ul > li > a {
                text-decoration: none;
                color: #fff;
            }

            .sky-left-nav-small > .sky-left-box > .sky-nav-index > .sky-nav-ul > li:nth-child(2),
            .sky-left-nav-small > .sky-left-box > .sky-nav-index > .sky-nav-ul > li:nth-child(5),
            .sky-left-nav-small > .sky-left-box > .sky-nav-index > .sky-nav-ul > li:nth-child(8),
            .sky-left-nav-small > .sky-left-box > .sky-nav-index > .sky-nav-ul > li:nth-child(11) {
                margin: 0 25px;
            }

            .sky-left-nav-small > .sky-left-box > .sky-nav-index > .sky-nav-ul > li:hover > a {
                color: #ec7f16;
            }

.text-col {
    color: #dbd9d9;
}

.sky-left-nav-small > .sky-left-box > .sky-phone {
    overflow: hidden;
    border-bottom: 1px solid #b8b8b8;
    border-top: 1px solid #b8b8b8;
    padding: 8px 0;
    margin-top: 5px;
    width:175px;
}

    .sky-left-nav-small > .sky-left-box > .sky-phone > .sky-phone-left {
        width: 98px;
        overflow: hidden;
        float: left;
    }

    .sky-left-nav-small > .sky-left-box > .sky-phone > .sky-phone-right {
        float: right;
    }

        .sky-left-nav-small > .sky-left-box > .sky-phone > .sky-phone-right > img {
            width: 60px;
        }

.sky-left-nav-small > .sky-left-box > .sky-video {
    width: 175px;
    height: 120px;
    background: #ffffff;
    margin-top: 5px;
}

    .sky-left-nav-small > .sky-left-box > .sky-video > .sky-video-tit {
        color: #f07f14;
        font-size: 16px;
        height: 25px;
        line-height: 25px;
        padding-left: 5px;
    }

    .sky-left-nav-small > .sky-left-box > .sky-video > .sky-video-content {
        height: 90px;
        width: 165px;
        padding-left: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
    }

        .sky-left-nav-small > .sky-left-box > .sky-video > .sky-video-content img {
            height: 90px;
            width: 165px;
        }

    .sky-left-nav-small > .sky-left-box > .sky-video > .sky-video-box {
        width: 100%;
        height: 108px;
    }

.sky-left-nav-small > .sky-left-box > .sky-nav-banner {
    height: 90px;
    width: 175px;
    margin: 5px 0;
    overflow:hidden;
}
.sky-left-nav-small > .sky-left-box > .sky-video > .sky-nav-banner img {
    height: 90px;
    width: 175px;
}
#skyapp {
    height: 85px;
    border-bottom: 1px dashed #b7b7b7;
    border-top: 1px dashed #b7b7b7;
    display: table-cell;
    vertical-align: middle;
}
#skyapp ul{
    display: block;
    width: 950px;
    margin: 0 auto;
    /*position: relative;*/
}
    #skyapp ul li {
    float:left;
    }
    #skyapp ul >.sky-app-content {
        margin-left:15px;
    }
    #skyapp ul li a {
        display: inline-block;
        width: 52px;
        height: 52px;
        cursor: pointer;
    }
    #skyapp ul li img {
       margin-right:15px;
    }

    .ky-share-icon > .icon-nav:hover {
        background: #ccc;
    }


        .ky-share-icon > .icon-nav:hover i {
            /*color: #676566;*/
            color: #ec7f16;
        }

    .ky-share-icon > .icon-nav i {
        color: #ccc;
        text-align: center;
        margin: 0 5px;
        line-height: 25px;
        transition: all 0.3s;
    }